/** Proxima Nova **/

// REGULAR - 500
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/proximanova-regular-webfont.otf') format('opentype'),
        url('fonts/proximanova-regular-webfont.woff') format('woff'),
        url('fonts/proximanova-regular-webfont.ttf') format('truetype'),
        url('fonts/proximanova-regular-webfont.svg#ProximaNova') format('svg');
    font-weight: normal;
    font-style: normal;
}

// REGULAR ITALIC - 500
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-regularitalic-webfont.eot');
    src: url('fonts/proximanova-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/proximanova-regularitalic-webfont.otf') format('opentype'),
        url('fonts/proximanova-regularitalic-webfont.woff') format('woff'),
        url('fonts/proximanova-regularitalic-webfont.ttf') format('truetype'),
        url('fonts/proximanova-regularitalic-webfont.svg#ProximaNova') format('svg');
    font-weight: normal;
    font-style: italic;
}

// BLACK - 900
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-black-webfont.eot');
    src: url('fonts/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/proximanova-black-webfont.otf') format('opentype'),
        url('fonts/proximanova-black-webfont.woff') format('woff'),
        url('fonts/proximanova-black-webfont.ttf') format('truetype'),
        url('fonts/proximanova-black-webfont.svg#ProximaNova') format('svg');
    font-weight: 900;
    font-style: normal;
}

// EXTRA BOLD - 800
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-extrabold-webfont.eot');
    src: url('fonts/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/proximanova-extrabold-webfont.otf') format('opentype'),
        url('fonts/proximanova-extrabold-webfont.woff') format('woff'),
        url('fonts/proximanova-extrabold-webfont.ttf') format('truetype'),
        url('fonts/proximanova-extrabold-webfont.svg#ProximaNova') format('svg');
    font-weight: 800;
    font-style: normal;
}

// BOLD - 700
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-bold-webfont.otf') format('opentype'),
         url('fonts/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-bold-webfont.svg#ProximaNova') format('svg');
    font-weight: 700;
    font-style: normal;
}

// BOLD ITALIC - 700
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-boldit-webfont.eot');
    src: url('fonts/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-boldit-webfont.otf') format('opentype'),
         url('fonts/proximanova-boldit-webfont.woff') format('woff'),
         url('fonts/proximanova-boldit-webfont.ttf') format('truetype'),
         url('fonts/proximanova-boldit-webfont.svg#ProximaNova') format('svg');
    font-weight: 700;
    font-style: italic;
}

// SEMI-BOLD - 600
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-semibold-webfont.eot');
    src: url('fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-semibold-webfont.otf') format('opentype'),
         url('fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-semibold-webfont.svg#ProximaNova') format('svg');
    font-weight: 600;
    font-style: normal;
}

// SEMI-BOLD ITALIC - 600
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-semibolditalic-webfont.eot');
    src: url('fonts/proximanova-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-semibolditalic-webfont.otf') format('opentype'),
         url('fonts/proximanova-semibolditalic-webfont.woff') format('woff'),
         url('fonts/proximanova-semibolditalic-webfont.ttf') format('truetype'),
         url('fonts/proximanova-semibolditalic-webfont.svg#ProximaNova') format('svg');
    font-weight: 600;
    font-style: italic;
}

// LIGHT - 300
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-light-webfont.eot');
    src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-light-webfont.otf') format('opentype'),
         url('fonts/proximanova-light-webfont.woff') format('woff'),
         url('fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('fonts/proximanova-light-webfont.svg#ProximaNova') format('svg');
    font-weight: 300;
    font-style: normal;
}

// LIGHT ITALIC - 300
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-lightitalic-webfont.eot');
    src: url('fonts/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-lightitalic-webfont.otf') format('opentype'),
         url('fonts/proximanova-lightitalic-webfont.woff') format('woff'),
         url('fonts/proximanova-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/proximanova-lightitalic-webfont.svg#ProximaNova') format('svg');
    font-weight: 300;
    font-style: italic;
}

// THIN - 100
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-thin-webfont.eot');
    src: url('fonts/proximanova-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-thin-webfont.otf') format('opentype'),
         url('fonts/proximanova-thin-webfont.woff') format('woff'),
         url('fonts/proximanova-thin-webfont.ttf') format('truetype'),
         url('fonts/proximanova-thin-webfont.svg#ProximaNova') format('svg');
    font-weight: 100;
    font-style: normal;
}
