<!DOCTYPE html>

{% assign siteData = site.data.site %}
{% assign portfolio = site.data.portfolio %}

<html>

<head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="main.css" />
    <meta name="description" content="{{site.description}}" />
    <meta name="author" content="{{site.author}}" />

    <script src="libs/jquery-3.2.1.min.js"></script>
    <script src="libs/lodash.min.js"></script>

</head>

<body>
    <div class="container">

        <section class="header" >
             {% for image in siteData.header_images %}
                <div class="background-image" style="background-image:url('{{ image }}')" ></div>
             {% endfor %}
            <div class="logo"><img src="{{ siteData.logo.path }}" /></div>
            <div class="main-title">{{ siteData.title }}</div>

            <div class="menu">
                <div class="menu-button">
                    <span class="menu-line top-line"></span>
                    <span class="menu-line middle-line"></span>
                    <span class="menu-line bottom-line"></span>
                </div>
                <div class="menu-list">
                    <div class="menu-item work">Work</div>
                    <div class="menu-item people">People</div>
                    <div class="menu-item contact">Contact</div>
                </div>
            </div>

        </section>

        <section class=" banner-section first-banner" >
            <div class="banner" ></div>
            <div class="banner-mask">
                <div class="content top-content" >
                    <div>
                        <h3>We are a hybrid</h3>
                        <h2>Creative Agency +<br>Production Company</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="reel-section" >
            <!-- <div class="background-image" style="background-image:url('{{ siteData.reel.preview_image }}')"></div> -->
            <div id="reelPlayer">
                <video class="reel-video-player" src="{{siteData.reel.preview_path}}" loop="true" muted="true"></video>
            </div>
            <div class="player-curtain"></div>
            
            <div class="reel-play-container">
                <div class="play-icon"></div>
                <div class="reel-select-container">
                <h2 class="white">How do you feel?</h2>
                    <div class="reel-buttons">
                        <div class="reel-button serious" data-src="{{siteData.reel.path}}" data-embed="{{siteData.reel.embed}}">SERIOUS</div>
                        <div class="reel-button hilarious" data-src="{{siteData.reel.path}}" data-embed="{{siteData.reel.embed}}">HILARIOUS</div>
                    </div>
                </div>
            </div>


        </section>

        <section class="banner-section second-banner" >

            <div class="banner left" ></div>
            <div class="content">
                <div class="inline">
                    <h3>Fiercely focused on</h3>
                    <h2>Video</h2>

                </div>
            </div>

        </section>

        <section  class="portfolio-section" >
            <div class="content-scroll-watcher"></div>
            <div class="fixed-wrapper">
                <div class="banner left"></div>
                <div class="banner bottom"></div>

                <h5>Full Portfolio</h5>
                <div class="portfolio-grid">


                    <div class="portfolio-tile front">
                        {% for video in site.data.portfolio %}
                            {% if video.featured == 1 %}<div class="portfolio-item-wrapper" data-src="{{ video.path }}" data-embed="{{ video.embed }}"><div class="portfolio-item" style="background-image:url('{% if video.featured_image %}{{ video.featured_image }}{% else %}{{ video.image }}{% endif %}')"><div class="play-icon"></div></div></div>{% endif %}
                            {% if video.featured == 2 %}<div class="portfolio-item-wrapper" data-src="{{ video.path }}" data-embed="{{ video.embed }}"><div class="portfolio-item" style="background-image:url('{{ video.featured_image }}')"><div class="play-icon"></div></div></div>{% endif %}
                            {% if video.featured == 3 %}<div class="portfolio-item-wrapper" data-src="{{ video.path }}" data-embed="{{ video.embed }}"><div class="portfolio-item" style="background-image:url('{{ video.featured_image }}')"><div class="play-icon"></div></div></div>{% endif %}
                            {% if video.featured == 4 %}<div class="portfolio-item-wrapper" data-src="{{ video.path }}" data-embed="{{ video.embed }}"><div class="portfolio-item" style="background-image:url('{{ video.featured_image }}')"><div class="play-icon"></div></div></div>{% endif %}
                            {% if video.featured == 5 %}<div class="portfolio-item-wrapper" data-src="{{ video.path }}" data-embed="{{ video.embed }}"><div class="portfolio-item" style="background-image:url('{{ video.featured_image }}')"><div class="play-icon"></div></div></div>{% endif %}
                            {% if video.featured == 6 %}<div class="portfolio-item-wrapper" data-src="{{ video.path }}" data-embed="{{ video.embed }}"><div class="portfolio-item" style="background-image:url('{{ video.featured_image }}')"><div class="play-icon"></div></div></div>{% endif %}
                        {% endfor %}
                    </div>

                    <div class="portfolio-tile back-side">
                         {% for video in site.data.portfolio %}
                            {% if video.featured == 7 %}<div class="portfolio-item back-side" style="background-image:url('{{ video.featured_image }}')" data-src="{{ video.path }}" data-embed="{{ video.embed }}"><div class="play-icon"></div></div>{% endif %}
                            {% if video.featured == 8 %}<div class="portfolio-item back-side" style="background-image:url('{{ video.featured_image }}')" data-src="{{ video.path }}" data-embed="{{ video.embed }}"><div class="play-icon"></div></div>{% endif %}
                            {% if video.featured == 9 %}<div class="portfolio-item back-side" style="background-image:url('{{ video.featured_image }}')" data-src="{{ video.path }}" data-embed="{{ video.embed }}"><div class="play-icon"></div></div>{% endif %}
                        {% endfor %}
                    </div>


                </div>


            </div>
            <div class="content white">

                <div class="portfolio-text-swap">
                    <h3>We make</h3>
                    <h2>Stories that move</h2>

                </div>
                <div class="portfolio-text-swap">
                    <h3>We make</h3>
                    <h2>Visual + Audio Adventures</h2>
                </div>

            </div>
        </section>

        <section class="banner-section third-banner" >
            <div class="banner bottom-shadow"></div>
            <div class="content">
                <h3>We are a new kind of</h3>
                <h2>Agency Animal</h2>
                <h2>for a new media landscape</h2>
            </div>
        </section>


        <section class="seemless-video-section" >
            <div class="banner left bottom-shadow-inverted"></div>
            <div class="seemless-video-container" >
                <video class="seemless-video-loop" src="{{siteData.seemless_video.preview_path}}" loop="true"></video>
            </div>
        </section>

        <section class="people-section" >
            <div class="content inline">
                <h2>We're People. We're Nice.</h2>
            </div>
            <div class="people-grid" >
                {% for person in site.data.people %}
                <div class="person" style="background-image:url('{{ person.image }}')">
                    <div class="person-info">
                        <div class="name">{{ person.name }}</div>
                        <div class="title">{{ person.title }}</div>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
            <h5>Meet Everyone</h5>
        </section>

        <section class="banner-section fourth-banner" >
            <div class="banner left"></div>
            <div class="content" >
                <h4 class="width-half margin-center">We are</h4>
                <h2 class="width-half margin-center">Simplifying the agency model</h2>
            </div>
        </section>

        <section  class="scrolling-text-section" >
             {% for slide in site.data.slides %}
            <div class="scrolling-text-container">
                <div class="background-image" style="background-image:url('{{ slide.image }}')"></div>
                <div class="scrolling-text">{{ slide.text }}</div>
            </div>
             {% endfor %}
        </section>

        <section class="footer" >
            <div class="banner"></div>
            <div class="background-image" style="background-image:url('{{ siteData.footer_image}}')"></div>
            <div class="content banner-content-middle">
                <h4 class="width-half margin-center">We are</h4>
                <h2 class="width-half margin-center">Here to serve</h2>
                <div class="contact">
                    <p class="email">sayhi@vossler.com</p>
                    <p class="phone"></p>425.952.6311</p>
                    <div class="address">
                        <p>11730 118 Ave NE, STE 600</p>
                        <p>Kirkland, WA, 98034</p>
                    </div>
                </div>
            </div>

            <h5><a href="https://vossler.bamboohr.com/jobs/" target="_blank">Want to work here?</a></h5>
            <div class="footer-bar">
                <div class="footer-logo"><img src="{{ siteData.logo.path }}" class="light" /></div>
                <p class="footer-text">
                    <span>Copyright &copy; 2017 Vossler</span>
                    <span class="bar"></span>
                    <a href="">Legal</a>
                </p>
                <div class="social-media light">
                    <div class="social-media-icon"><a href="http://facebook.com" target="_blank"><img src="assets/icon-facebook.png" title="Facebook" /></a></div>
                    <div class="social-media-icon"><a href="http://instagram.com" target="_blank"><img src="assets/icon-instagram.png" title="Instagram" /></a></div>
                    <div class="social-media-icon"><a href="http://linkedin.com" target="_blank"><img src="assets/icon-linkedin.png" title="Linkedin" /></a></div>
                </div>
                <div class="social-media dark">
                    <div class="social-media-icon"><a href="http://facebook.com" target="_blank"><img src="assets/icon-facebook-dark.png" title="Facebook" /></a></div>
                    <div class="social-media-icon"><a href="http://instagram.com" target="_blank"><img src="assets/icon-instagram-dark.png" title="Instagram" /></a></div>
                    <div class="social-media-icon"><a href="http://linkedin.com" target="_blank"><img src="assets/icon-linkedin-dark.png" title="Linkedin" /></a></div>
                </div>
            </div>
        </section>



        <!-- DEV STUFF REMOVE BEFORE DEPLOY -->

        <!-- <div class="position-display"></div> -->

        <!-- END DEV STUFF -->

    </div>

    <!-- FULL SCREEN VIDEO -->

    <div class="video-player-container">
        <video id="videoPlayer" class="video-player" controls="true"></video>
        <div class="loader"><div class="loader-circle"></div></div>
        <div class="close-video close-x"></div>
    </div>

    <!-- FULL SCREEN PEOPLE -->
    <div class="fullscreen-people fullscreen-fixed">
        <div class="people-grid">
            {% for person in site.data.people %}
                <div class="person" style="background-image:url('{{ person.image }}')">
                    <div class="person-info">
                        <div class="name">{{ person.name }}</div>
                        <div class="title">{{ person.title }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="close-people close-x"></div>
    </div>

    <!-- FULL SCREEN PORTFOLIO -->
    <div class="fullscreen-portfolio fullscreen-fixed">
        <div class="video-grid">
            {% for video in site.data.portfolio %}
                <div class="video-tile" data-src="{{video.path}}" data-embed="{{video.embed}}" style="background-image:url('{{ video.image }}')">
                    <div class="video-info">{{ video.title }}</div>
                </div>
            {% endfor %}
        </div>
         <div class="close-portfolio close-x"></div>
    </div>

    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script> -->
    <!-- <script type="text/javascript" src="libs/skrollr.min.js"></script> -->
    <script type="text/javascript" src="libs/scroll-watcher-2.js"></script>
    <!-- <script type="text/javascript" src="libs/scroll-watcher.js"></script> -->
    <!-- <script type="text/javascript" src="libs/scrollMonitor.js"></script> -->
    <script type="text/javascript" src="libs/vimeo-player.js"></script>
    <!-- <script src="https://player.vimeo.com/api/player.js"></script> -->
    <script src="site.js"></script>



</body>

</html>
